

.orange-word {
    color: rgb(77, 77, 77);
}



.title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 120px;
}

h1 {
    font-family: "Work Sans",sans-serif;
    font-weight: 320;
    font-size: 5.5rem;
    margin-top: 25px;
}

.titlebox,
.start-message {
    width:70%;
    margin: auto;
}

.messageAndform {
    margin: auto;
    background-color: #f7f7f7;
    width: 100%;
    margin: auto;
    padding: 90px 0px;
    margin-top: -55px;
}




form {
    margin:auto;
    width:70%;
    background-color: #ffffff;
    margin-top: 70px;
    padding: 60px 90px;
    border-radius: 4px;
}

.please {
    color:rgb(35, 35, 35);
    text-align: center;
    margin-bottom:60px;
}

.form-group {
    margin-bottom: 35px;
}

input[type="text"],
input[type=email],
input[type=tel],
textarea {
    border:1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width:100%;
    padding: 12px 6px;
}

label {
    display: block;
    margin-bottom: 7px;
    color:rgb(35, 35, 35);
}


.required {
    background-color: #f99;
    padding:2px 4px;
    border: 1px solid #f99;
    border-radius: 2px;
    margin-left:12px;
    color:#fff;
    font-size: .9rem;
}

.checkbox-group {
    margin-top: 16px;
    margin-left:12px;
}

.check {
    margin-bottom: 8px;
}

textarea {
    resize: none;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin: 70px 0px 30px 0px;
}

button {
    background-color: rgb(77, 77, 77);
    color: #fff;
    padding:20px 0px;
    font-weight: bold;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgb(0,0,0,0.2);
    transition: background-color 0.3s;
}

.privacy {
    margin-top: 70px;
    margin-bottom: 30px;
}



button:hover {
    background-color: rgb(110,110,110);
}


@media(max-width: 1020px) {


    form {
        margin:50px auto;
        width:75%;
        padding: 30px 40px;
    }

    .please {
        margin-bottom:30px;
    }

    .titlebox,
    .start-message {
        width:75%;
    }


    .title {
        font-size: 0.9rem;
        margin-top: 100px;
    }

    h1 {
        font-size: 4.0rem;
    }

    .messageAndform {
        margin-top: -40px;
        padding: 70px 0px 30px 0px;
    }

    .privacy {
        margin-top: 40px;
    }

    .button-wrapper {
        margin:40px 0 20px 0;
    }


}


@media (max-width: 667px) {
 
    .title {
        margin-top: 100px;
    }

    h1 {
        margin-top: 8px;
        font-size: 3.9rem;
    }

    .start-message,
    .titlebox {
        width:85%;
    }

    .messageAndform {
        padding: 60px 0px 22px 0px;
        margin-top: -30px;
    }

    form {
        margin:50px auto 30px auto;
        width:85%;
        padding: 30px 30px 20px 30px;
    }

}

