
.titlebox {
    display:flex;
    text-align: center;
    margin:200px auto;
    width:70%;
    justify-content: center;
    position: relative;
    z-index: -1;
    isolation: isolate; /* ← これは既にやってたと思うのでOK */
    transform: none;     /* ← ★ これがあれば消す、なければ明示不要 */
}

.title {
    white-space: nowrap;
    font-size: clamp(1.0rem,4.0vw,4.0vw);
    font-weight: 500;
    color:rgb(48,48,48);
}



.connect,
.reframe,
.empower {
    position: relative;
    opacity:0;
    transform: translateY(0px);
    transition: opacity 1.6s ease-out,transform 1.2s ease-out;
    z-index: 1;
}



.connect.show, 
.reframe.show,
.empower.show {
    position: relative;
    opacity: 1;
    transform: translateY(-20px);
    z-index: 1;
}


header {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1.0s ,transform 1.0s ease-out;
}

header.show{
    opacity:1;
    transform:translateY(0px)
}

main {
    margin: auto;
    width:92%;
    position: relative;
    z-index: 1;
}

.content-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    
}

.content-title h2 {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 2.5px;
    color: #333;         
}


.grid-application {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}

.item {
    background-color: rgb(154,154,154);
    border-radius: 8px;
    width: 100%;
    height: auto;
}

img {
    border-radius: 4px;
    width: 100%;
    height: auto;
}



@media (max-width:1020px) {
    .titlebox{
        width:90%;
    }
    .title {
        white-space: nowrap;
        font-size: clamp(1.0rem,4.7vw,4.7vw);
        font-weight: 500;
        color:rgb(48,48,48);
    }
}

@media (max-width:667px) {
    .titlebox{
        width:95%;
    }
    .title {
        white-space: nowrap;
        font-size: clamp(1.0rem,5.2vw,5.2vw);
        font-weight: 500;
        color:rgb(48,48,48);
    }
}

/*

・結構使われる上からスライドふわっと

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

   */