.titlebox {
    display:flex;
    text-align: center;
    margin:200px auto;
    width:70%;
    justify-content: center;
}

.title {
    white-space: nowrap;
    font-size: clamp(1.0rem,4.0vw,4.0vw);
    font-weight: 500;
    color:rgb(48,48,48);
}

.connect{
    opacity:0;
    transform: translateY(0px);
    transition: opacity 1.6s ease-out,transform 1.2s ease-out;
}

.reframe {
    opacity:0;
    transform: translateY(0px);
    transition: opacity 1.6s ease-out,transform 1.2s ease-out;
}

.empower {
    opacity:0;
    transform: translateY(0px);
    transition: opacity 1.6s ease-out,transform 1.2s ease-out;
}

.connect.show {
    opacity: 1;
    transform: translateY(-20px);
}

.reframe.show {
    opacity: 1;
    transform: translateY(-20px);
}

.empower.show {
    opacity: 1;
    transform: translateY(-20px);
}







/*

・結構使われる上からスライドふわっと

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

   */