<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.myfolio | Webアプリ・ポートフォリオ制作・Excel自動化の支援を行っています。</title>
    <link rel="icon" href="../static/images/title-img.png" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <!--ハンバーガー用ナビゲーション（画面全体を覆うようなナビゲーションウィンドウにする場合にはbody直下が安心） -->
    <nav id="nav">
        <a class="navigation" href="">Application</a>
        <a class="navigation" href="">Portfolio</a>
        <a class="navigation" href="">Automation</a>
        <a class="navigation" href="">Blog</a>
        <a class="navigation contact" href="{{url_for('contact')}}">Contact</a>
    </nav>
    <div class="hamburger" id="hamburger">
        ☰
    </div>
    <div class="close" id="close">
        ×
    </div>
    <div class="container">
        <header>
            <a href="{{url_for('home')}}">
                <img class="logo" src="../static/images/logo.png" alt="ロゴ画像">
            </a>
            <nav class="nav-header">
                <a class="navigation" href="">Application</a>
                <a class="navigation" href="">Portfolio</a>
                <a class="navigation" href="">Automation</a>
                <a class="navigation" href="">Blog</a>
                <a class="navigation contact" href="{{url_for('contact')}}">Contact</a>
            </nav>
            <!-- hanberger -->


        </header>
        <div class="title-area">
            <div class="titlebox">
                <h1 class="title">Connect．． Reframe．． Empower．</h1>
            </div>
            <img class="title-img" src="../static/images/title-img.png">
        </div>
        <main>
            <!-- connect,reframe,empowerについてをいれる -->
            <div class="introduction">
                <h2 class="content-title">Introduction<h2>
                <!-- <div class="content-title">
                    <h3>Introduction</h3>
                </div> -->
                <div class="intro-contents">
                    <p>
                        情報が整理されて、仕組みが整うと、<br>
                        人の想いが届きやすくなると信じています。
                    </p>
                    <p class="intro-under">
                        ITやAIなどのテクノロジーを活用して、<br>
                        小さな「つながり」を育てていく。<br>
                        そんなものづくりを目指しています。
                    </p>
                </div>
            </div>
            
            <!-- service内容について -->
            <div class="service">
                <h2 class="content-title">Service<h2>
                <div class="service-contents">
                    <div class="service-explanation">
                        <h3>Webアプリ開発</h3>
                        <p>Application</p>
                        <image class="service-image" src="../static/images/application-image-sample.png"></image>
                    </div>
                    <div class="service-explanation">
                        <h3>ポートフォリオ制作</h3>
                        <p>Portfolio</p>
                        <image class="service-image" src="../static/images/portfolio-image2.png"></image>
                    </div>
                    <div class="service-explanation">
                        <h3>Excel自動化</h3>
                        <p>Automation</p>
                        <image class="service-image" src="../static/images/automation-image.png"></image>
                    </div>
                </div>
            </div>

            <!-- works内容 -->
            <div class="works">
                <h2 class="content-title">Works</h2>
                <div class="application-section">
                    <div class="mini-title">
                        <h3>Application</h3>
                    </div>
                    <div class="grid-application">
                        <div class="item">
                            <a href="">  
                                <img src="../static/images/application/history_game.png" alt="世界史選択クイズ">
                            </a>
                        </div>
                        <!-- <div class="item">A</div>
                        <div class="item">A</div> -->
                    </div>
                </div>
                
                <div class="portfolio-section">
                    <div class="mini-title">
                        <h3>Portfolio</h3>
                    </div>
                    <div class="grid-application">
                        <div class="item">
                            <a href="">
                                <img src="../static/images/portfolio/myfolio.png">
                            </a>
                        </div>
                        <!-- <div class="item">A</div>
                        <div class="item">A</div> -->
                    </div>
                </div>

                <div class="automation-section">
                    <div class="mini-title">
                        <h3>Automation</h3>
                    </div>
                    <div class="grid-application">
                        
                        <!-- <div class="item">A</div>
                        <div class="item">A</div> -->
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p class="copyright">&copy;2025 Shoya😊</p>
        </footer>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/home.js"></script>
</body>
</html>