<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.myfolio | Webアプリ・ポートフォリオ制作・Excel自動化の支援を行っています。</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <!--ハンバーガー用ナビゲーション（画面全体を覆うようなナビゲーションウィンドウにする場合にはbody直下が安心） -->
    <nav id="nav">
        <a class="navigation" href="">Application</a>
        <a class="navigation" href="">Portfolio</a>
        <a class="navigation" href="">Automation</a>
        <a class="navigation" href="">Blog</a>
        <a class="navigation contact" href="{{url_for('contact')}}">Contact</a>
    </nav>

    <div class="container">
        <header>
            <a href="{{url_for('home')}}">
                <img class="logo" src="../static/images/logo.png" alt="ロゴ画像">
            </a>
            <nav class="nav-header">
                <a class="navigation" href="">Application</a>
                <a class="navigation" href="">Portfolio</a>
                <a class="navigation" href="">Automation</a>
                <a class="navigation" href="">Blog</a>
                <a class="navigation contact" href="{{url_for('contact')}}">Contact</a>
            </nav>
            <!-- hanberger -->
            <div class="hamburger" id="hamburger">
                ☰
            </div>
        </header>
        <div class="title-area">
            <div class="titlebox">
                <h1 class="title">Connect．． Reframe．． Empower．</h1>
                <!-- <h1 class="title reframe">Reframe．． </h1>
                <h1 class="title empower">Empower．</h1> -->
                <img class="title-img" src="../static/images/title-img.png">
            </div>
        </div>
        <main>
            <!-- connect,reframe,empowerについてをいれる -->
            <div class="service">
                <div class="application-section">
                    <div class="content-title">
                        <h3>Application</h3>
                    </div>
                    <div class="grid-application">
                        <div class="item">
                            <a href="">  
                                <img src="../static/images/application/history_game.png" alt="世界史選択クイズ">
                            </a>
                        </div>
                        <div class="item">A</div>
                        <div class="item">A</div>
                    </div>
                </div>
                
                <div class="portfolio-section">
                    <div class="content-title">
                        <h3>Portfolio</h3>
                    </div>
                    <div class="grid-application">
                        <div class="item">A</div>
                        <div class="item">A</div>
                        <div class="item">A</div>
                    </div>
                </div>

                <div class="automation-section">
                    <div class="content-title">
                        <h3>Automation</h3>
                    </div>
                    <div class="grid-application">
                        
                        <div class="item">A</div>
                        <div class="item">A</div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p class="copyright">&copy;2025 Shoya😊</p>
        </footer>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/home.js"></script>
</body>
</html>